
.containsAll{
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url(../../media/smile.png);
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; 
  background-color: rgb(252, 225, 238);

}
.nav{
    background-color: rgba(196, 165, 189, 0.521);
    backdrop-filter: blur(1px);
    margin-top: 0;
    height:150px;
    
}

.head{
position: fixed;
    font-family:'Major Mono Display', monospace ;
    color:#fff;
    font-size:70px;
    text-align:left;
    font-weight: normal; 
    text-shadow: 6px 6px 4px rgba(44, 11, 34, 0.473);
    margin-left: 40%;
  
}

.created{
    text-decoration: none;
    color: white;
    position: fixed;
    background: transparent;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 91%;
    font-size: 15px;
    font-weight: 900px;
    width: 100px;
    height: 40px;
    grid-column-end: auto;
    text-align: right;
    cursor: pointer;
    background-color: #fdf6fc73;
    padding: 2px;
    
}
.created:hover{
    background-color: #fdf6fc73;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377);

}

.reload{
    margin-left: 91%;
    margin-top: 70px;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: transparent;
    
    text-decoration: none;
    border-radius: 5px;
    border:none;
    text-align: right;
    cursor: pointer;
    color: rgb(66, 2, 45);
    background-color: #fdf6fc73;
}
.reload:hover{
    background-color: #fdf6fc73;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377);
    color: white;
}
.selectAC{
    background-color: #fdf6fc73;
    font-family: 'Montserrat Alternates', sans-serif;
    border: none;
    color: rgb(66, 2, 45);
    border-radius: 12px;
    font-weight: 300;
    margin-left: 91%;
    margin-top: 10px;
    cursor: pointer;
}
.selectAC:hover{
    background-color: #fdf6fc73;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377);
    border: none;
    
}
.search{
    background-color: #fdf6fc73;
    font-family: 'Montserrat Alternates', sans-serif;
    position: fixed;
    color: rgb(66, 2, 45);
    border-radius: 5px;
    margin-left: 81.3%;
    margin-top: 9px;
}

.order{
    position: fixed;
   margin-left: 2%;
   margin-top: 7px;
   font-family: 'Montserrat Alternates', sans-serif;
   display: flex;
   align-items: flex-start;
justify-content: space-between;
margin-left: 3%;
   color: white;
}
select{
    background-color: #fdf6fc73;
    font-family: 'Montserrat Alternates', sans-serif;
    border: none;
    border-radius: 5px;
    color: rgb(66, 2, 45);
    height: 17px;
    margin-left: 10px;
    
   
}
select:focus{
    outline: none;
   
}
select:hover{
    background-color: #fdf6fc73;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377);
    border: none;
}



.alf{
    margin-top: -18px;
    display: flex;
    align-items: center;
    padding-inline-end: 15px;
}

.weight{
    margin-top: -18px;
    display: flex;
    align-items: center;
}
.back{
    z-index: 4px;
    border: none;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #c485baa2;
    color: white;
    border-radius: 10px;
    text-align:center;
    cursor: pointer;
    width: 70px;
    height: 30px;
    z-index: 4;
}
.back:hover{
    background-color: #fdf6fc73;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377);
    border: none;
    color: rgb(66, 2, 45);
    transition: 0.8s;
}



.contenedor{
 
    padding-left: 40px;
    margin-top: 10px;
    margin-left: 40px;

}


.direccion {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-top:15px;

   
}
  
.pagination li {
    color: aliceblue;
    display:inline-flex;
    padding: 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    background-color: #c485ba83;
    border-radius: 10%;
    list-style:none;
    width: 10px;
    height: 10px;
    font-size: 12px;
    align-items: center;
}
.pagination li:hover{
    transition: 0.8s;
    background-color: #fdf6fc73;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377);
    border: none;
    color: rgb(66, 2, 45);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
