.contenedor { 
    text-decoration: none;
    margin-top: 10px;
    margin: 10px;
    width: 300px;
    height: 450px;
    align-items: center; 
    text-align: center;
    display: inline-block;
    /* background-color: rgb(252, 221, 173); */
    background:rgba(248, 161, 0, 0.212);
    border-radius: 12px;
    padding-left: 5px;
    padding-right: 10px;
    justify-content:center;
    margin-left: 70px;
    /* background-color: rgb(253, 226, 182);
    background-color: rgb(184, 226, 243); */
    
    
}

.contenedor:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgb(255, 251, 251);
}


.direccion {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 10px;
}
  
.pagination li {
    color: aliceblue;
    display: inline-flex;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    /* background-color: rgb(207, 170, 89); */
    background:rgba(255, 160, 82, 0.849);
    border-radius: 10%;
    list-style:none;
    /* rgb(247, 146, 64); 
    background-color: #24588b;*/
}
  
.pagination li:hover {
    background-color: transparent;
    color: rgb(235, 231, 231);
    transform: scale(1.10);
    box-shadow: 0 5px 10px rgb(196, 192, 192);

}
.button {
    position: relative; right: 39%; bottom: -5%;
    font-family:Georgia;
    color: solid black;
    border-color: solid black;
    /* background-color: rgb(207, 170, 89); */
    background: linear-gradient(#f0ddaa, #a58a40);
    border-radius: 9px;
    margin-top: 25px;
    margin-left: 10px;
    color: solid black;
    font-size: 13px;
    font-weight: 800;
    width: 60px;
    height: 40px;
    
}
  
.button:hover{
    color: rgb(255, 249, 249);
    border-color: solid black;
    background-color: transparent;
}
.temptContainer { 
    position: relative; left: 40%; bottom: -5%;
    font-family:Georgia;
    /* background-color: rgb(207, 170, 89); */
    background: linear-gradient(#f0ddaa, #a58a40);
    border-radius: 9px;
    margin-top: 15px;
    margin-left: 10px;
    color: solid black;
    border-color: solid black;
    font-size: 13px;
    font-weight: 800;
    width: 150px;
    height: 50px;
    cursor: pointer;
    
    
}
  
/* .button2 {
    position: relative; left: 30%; bottom: 15%;
    font-family: Montserrat;
    color: solid black;
    border-color: solid black;    
    background-color: rgb(246, 255, 126);
    border-radius: 999px;
    margin-top: 0%;
    margin-left: 8px;
    color: solid black;
    font-size: 13px;
    font-weight: 800;
    width: 60px;
    height: 60px;
} */
.reload{
    position: relative; left: 40%; bottom: -5%;
    font-family:Georgia;
    border-color: solid black;
    /* background-color: rgb(207, 170, 89); */
    background: linear-gradient(#f0ddaa, #a58a40);
    border-radius: 9px;
    margin-top: 15px;
    margin-left: 10px;
    color: solid black;
    font-size: 13px;
    font-weight: 800;
    width: 150px;
    height: 50px;
    cursor: pointer;
    

}
.reload:hover{
    color: rgb(255, 249, 249);
    border-color: solid black;
    background-color: transparent;
}
.created{
    text-decoration: none;
    padding-top: 15px;
    color: solid black;
    position: relative; left: 40%; 
    font-family:Georgia;
    border-color: solid black;
    background: linear-gradient(#f0ddaa, #a58a40);
    border-radius: 9px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
    width: 200px;
    height: 50px;
    
    
}
.back{
    position: relative; right: 42%; bottom: -5%;
    font-family:Georgia;
    color: solid black;
    border-color: solid black;
    /* background-color: rgb(207, 170, 89); */
    background: linear-gradient(#f0ddaa, #a58a40);
    border-radius: 9px;
    margin-top: 15px;
    /* margin-left: 10px;  */
    margin-block-end: 10px;
    color: solid black;
    font-size: 13px;
    font-weight: 800;
    width: 150px;
    height: 50px;
}
.back:hover{
    color: rgb(255, 249, 249);
    border-color: solid black;
    background-color: transparent;
}