body{
    font-family: 'Montserrat Alternates', sans-serif;
}

.box{
    margin-left:35px;
    justify-content: center;
    background-color: #fdf6fc73;
    border-radius: 7%;
    height: 260px;
    width: 240px;
    align-items: center;
    position: relative;
    z-index: 1;

}
.breed {
    text-decoration: 'none';
    font-size: 15px;
    color: rgb(116, 3, 78);
    font-weight: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding-top: 5px;
    margin-top: 15px;
    height: 30px;
    width: 240px;
    z-index: 1;
    text-shadow: 2px 2px 3px rgba(44, 11, 34, 0.623);
}


.titleTemps {
    font-size: 20px;
    color: rgb(66, 2, 45);
    text-decoration: 'none';
    
}
.image {
    width:180px;
    height: 180px;
    border-radius: 7%;
    justify-content: center;
    margin-top: 20px;
    z-index: 1;
    
}
.overlay{
   
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#fdf6fc81;
    color:rgb(66, 2, 45) ;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 7%;
    backdrop-filter: blur 4px;
    font-weight:80px;
    text-align: left;
    
    
}
.text{
    margin-top: 10px;
    margin-left: 10px;
}
.box:hover .overlay{
    height: 100%;
    box-shadow: 0 0 10px rgba(128, 67, 85, 0.863), 0 0 10px rgba(128, 67, 85, 0.863), 0 0 10px rgba(128, 67, 85, 0.863);
    transition: 0.5s
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
