
.searchBar {
   
    background-color: #fdf6fc73;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    border: none;
    border-radius: 7px;
    align-items: center;
    height: 60px;
    
}

.button {
    background: transparent; 
    border: transparent;
    color: white;
    margin-left: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: pointer;
    
}

.button:hover {
   
    color: rgb(66, 2, 45);
    background-color: #fdf6fc73;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377), 0 0 10px rgba(255, 255, 255, 0.377);
    border: none;
}
.input{
    text-align: center;

    background: transparent; 
    border: none;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(66, 2, 45);
    
}
.input:focus{
    outline: none;
}


/* .cbFilter {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.cbFilter >label {
    margin-right: 3px;
}
.cbFilter >input {
    margin-right: 10px;
} */

/* .dogcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    align-items: baseline;
    background-color: rgba(255, 255, 255, 0.5); */
    /*background-color: rgba(255, 217, 0, 0.356); */
    /* background-color: rgba(0, 0, 0, 0.205); */
    /* border-radius: 20px;
}
.loading {
    align-self: center;
    justify-self: center;
    width: 30%;
    border-radius: 100%;
}*/